body {
    font-family: Arial, sans-serif;
    background-image: url('bacground_login.jpg');
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.5);/*mờ 50% */
    backdrop-filter: blur(10px); /* Hiệu ứng mờ với bán kính là 10px */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 15px;
  }
  
  .forgot-password a {
    color: #0c0c0c;
    text-decoration: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00bfff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00a6e0;
  }
  
  .register {
    text-align: center;
  }
  
  .register a {
    color: #ea2525;
    text-decoration: none;
  }